.home {
  margin: 0 1.5em;
  width: calc(100% - 3em);
  max-width: $huge;

  @include responsive('medium') {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    @include responsive('medium') {
      order: 2;
    }

    h2,
    h3,
    p {
      text-align: center;
      margin-bottom: 0;
    }

    .configs {
      margin: 0 auto;
      display: flex;
      gap: 1em;
      flex-direction: column;

      @include responsive('medium') {
        flex-direction: unset;
        justify-content: center;
      }
    }
  }

  &__logo {
    img {
      mix-blend-mode: multiply;
      max-width: 100%;
    }
  }
}
