// Hamburger button
.hamburger {
  position: absolute;
  top: 45%;
  left: 1em;

  @include responsive('medium') {
    display: none;
  }

  &__checkbox {
    display: none;

    &:checked ~ .hamburger__label span:first-child {
      transform: translateY(0.5em) rotate(-135deg);
    }
    &:checked ~ .hamburger__label span:nth-child(2) {
      opacity: 0;
    }
    &:checked ~ .hamburger__label span:last-child {
      transform: translateY(-0.5em) rotate(135deg);
    }
  }

  &__label {
    width: 1.5em;
    display: block;
    position: relative;

    span {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $light;
      opacity: 1;
      transform: rotate(0deg);
      transition: all 0.5s ease-out;

      &:first-child {
        top: -0.5em;
      }
      &:last-child {
        top: 0.5em;
      }
    }
  }
}
