.nav {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $dark;
  width: 70%;
  height: 100vh;
  border-right: 2px solid $orange;
  padding: 25px 30px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;

  &__open {
    transform: translateX(0);
  }

  @include responsive('medium') {
    width: 40%;
  }

  @include responsive('medium') {
    transform: translateX(0);
    position: unset;
    background-color: unset;
    border-right: unset;
    padding: unset;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1em;
  }

  &__mainlinks {
    display: flex;
    flex-direction: column;
    gap: 1em;

    a {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }

    @include responsive('medium') {
      flex-direction: row;
    }
  }
}
