*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fafafa;
  color: #333;
}

a {
  text-decoration: none;
  color: #618b4a;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.hamburger {
  position: absolute;
  top: 45%;
  left: 1em;
}
@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}
.hamburger__checkbox {
  display: none;
}
.hamburger__checkbox:checked ~ .hamburger__label span:first-child {
  transform: translateY(0.5em) rotate(-135deg);
}
.hamburger__checkbox:checked ~ .hamburger__label span:nth-child(2) {
  opacity: 0;
}
.hamburger__checkbox:checked ~ .hamburger__label span:last-child {
  transform: translateY(-0.5em) rotate(135deg);
}
.hamburger__label {
  width: 1.5em;
  display: block;
  position: relative;
}
.hamburger__label span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fafafa;
  opacity: 1;
  transform: rotate(0deg);
  transition: all 0.5s ease-out;
}
.hamburger__label span:first-child {
  top: -0.5em;
}
.hamburger__label span:last-child {
  top: 0.5em;
}

.nav {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  width: 70%;
  height: 100vh;
  border-right: 2px solid #fe9000;
  padding: 25px 30px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}
.nav__open {
  transform: translateX(0);
}
@media (min-width: 800px) {
  .nav {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .nav {
    transform: translateX(0);
    position: unset;
    background-color: unset;
    border-right: unset;
    padding: unset;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1em;
  }
}
.nav__mainlinks {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.nav__mainlinks a {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
@media (min-width: 1024px) {
  .nav__mainlinks {
    flex-direction: row;
  }
}

.banner {
  background-color: #333;
  color: #fafafa;
  box-shadow: inset 0 -1px #fe9000;
  display: flex;
  justify-content: center;
}
.banner__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  position: relative;
}

.footer {
  display: flex;
  justify-content: center;
}

.home {
  margin: 0 1em;
  width: calc(100% - 2em);
  max-width: 1200px;
}
@media (min-width: 800px) {
  .home {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 800px) {
  .home__content {
    order: 2;
  }
}
.home__content h2,
.home__content h3,
.home__content p {
  text-align: center;
  margin-bottom: 0;
}
.home__logo img {
  mix-blend-mode: multiply;
  max-width: 100%;
}
