*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fafafa;
  color: #333;
}

a {
  text-decoration: none;
  color: #618b4a;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.hamburger {
  position: absolute;
  top: 45%;
  left: 1em;
}
@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}
.hamburger__checkbox {
  display: none;
}
.hamburger__checkbox:checked ~ .hamburger__label span:first-child {
  transform: translateY(0.5em) rotate(-135deg);
}
.hamburger__checkbox:checked ~ .hamburger__label span:nth-child(2) {
  opacity: 0;
}
.hamburger__checkbox:checked ~ .hamburger__label span:last-child {
  transform: translateY(-0.5em) rotate(135deg);
}
.hamburger__label {
  width: 1.5em;
  display: block;
  position: relative;
}
.hamburger__label span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fafafa;
  opacity: 1;
  transform: rotate(0deg);
  transition: all 0.5s ease-out;
}
.hamburger__label span:first-child {
  top: -0.5em;
}
.hamburger__label span:last-child {
  top: 0.5em;
}

.banner {
  background-color: #333;
  color: #fafafa;
  box-shadow: inset 0 -1px #fe9000;
  display: flex;
  justify-content: center;
}
.banner__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  position: relative;
}
